Source: verif
Maintainer: Thomas Nipen <thomas.nipen@met.no>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9.0.0)
Homepage: https://github.com/WFRT/verif
Vcs-Git: git@github.com:WFRT/verif.git
Vcs-Browser: https://github.com/WFRT/verif

Package: verif
Architecture: amd64
Description: Verification
 This software computes verification statistics for weather forecasts at point locations. It can be used to
 document the quality of one forecasting system but can also be used to compare different weather models and/or
 different post-processing methods.
